@import 'partials/_variables';
@import 'partials/_setup';
@import 'partials/_general';
@import 'partials/_react-datetime';

// $color-main: #2d3956;
// $color-ac: #b7eae3;
// $color-ltgray: #efefef;
// $color-dkgray: #c1c1b5;


//---------------------
// All Section
//---------------------
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}

.smallWrap {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}


.padding > * {
    padding: 80px 0;

}

//---------------------
// Modal
//---------------------
.modal {
    // the gray overlay part of the modal
    width: 100vw;
    height: 100vh;
    background: rgba(lightgray, 0.8);
    position: fixed;
    z-index: 100;
}
//---------------------
// Layouts (floats)
//---------------------
.layout__opposite {
    > * {
        display: inline;
    }
    div:first-child {
        float: left;
    }
    div:last-child {
        float: right;
    }
}

.layout__beside {
    > * {
        display: inline;
    }
}

.layout__XCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.layout__XYCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.layout__half {
    > * {
        width: 50%;
    }
}

.layout__marginCenter {
    margin: 0 auto;
}
//---------------------
// Header
//---------------------
header {
    height: 80px;
    background: $color-main;
    color: white;
    width: 100vw;
    padding: 0 40px;
    ~ section, ~ main {
        clear: both;
    }
}

//---------------------
// Homepage
//---------------------
.homepage {
    .layout__half > * {
        min-height: 420px;
    }
}
.hero {
    position: relative;
    background: url('/assets/home-hero.jpeg') center no-repeat;
    background-size: cover;
    height: 50vh;
}

.home__graphic {
    position: relative;
    background: $color-ac;
    img {
        width: 200px;
    }
}

//---------------------
// EventCard
//---------------------

.eventCard {
   border: 1px solid black;
   padding: 20px;
}

.hostBadge {
   display: inline-block;
   border: 1px solid black;
   background: pink;
   padding: 5px 10px;
}


//---------------------
// Button
//---------------------

.btn {
   display: inline-block;
   border: 1px solid black;
   padding: 10px 20px;
}

.btn ~ .btn {
    margin-top: 20px;
}


//---------------------
// inviteLandingPage
//---------------------

.inviteLandingPage {
    img {
        width: initial;
        margin:: 50px auto;
        // margin: 50px 0;
        // margin-left: 43%;
    }
    .wrapper {
        background: $color-ltgray;
        padding: 100px 0;
        > * {
            display:block;
            text-align: center;
        }
    }
}

.wrap__button {
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}
//---------------------
// Forms
//---------------------
form {
    border: 1px solid $color-main;
    color: black;
    padding: 60px 40px;
    background: $color-ac;
    input {
        border: 1px solid $color-main;
        padding: 5px 8px;
    }
}

.form__auth {
    // padding bottom for absolutely positioned button
    padding-bottom: 130px;
}

.btn__form {
    margin-top: 30px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
    label, input {
        display: block;
    }
}

//---------------------
// Typography
//---------------------
.heading {
    &__form {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__page {
        font-size: 30px;
        margin-bottom: 15px;
    }

}

.label__form {
    margin-bottom: 5px;
    // color: black;
}

.graphics {
    width: initial;
}

h1 {
    // header app name
    padding-top: 18px;
}