.dashboardControls {
    margin: 50px 0;
    button {
        margin: 0 25px 25px 0;
        min-width: 250px;
        padding: 15px 20px;
    }
}

.noEventsMessage {
    margin-top: 50px;
    min-height: 400px;
    background-color: $color-ltgray;
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;
    p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
    }
}

.eventList {
    margin-bottom: 50px;
    .event {
        min-height: 200px;
        background-color: $color-ltgray;
        margin-bottom: 25px;
        padding: 20px;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
        position: relative;
        h2 {
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 10px;
            display: inline-block;
            color: $color-main;
        }
        .hostBadge {
            padding: 7px 20px;
            margin-bottom: 15px;
            background-color: $color-ac;
            border-radius: 5px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -1px rgba(0, 0, 0, 0.12);
            width: 100px;
            display: block;
            text-align: center;
            font-weight: bold;
        }
        .eventDateLocation {
            margin: 20px 0;
        }
        .eventAction {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
            @media (max-width: 768px) {
                position: static;
            }
        }
        .editEvent {
            display: inline-block;
            margin-left: 10px;
        }
        input {
            border: 5px solid $color-ac;
            padding: 10px 8px;
            margin-right: 15px;
        }
        .eventDetails {
            @media (max-width: 768px) {
                margin-bottom: 25px;
            }
        }
        p {
            color: $color-main;
        }
    }
}

.eventForm {
    padding: 40px;
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    position: relative;
    max-width: 500px;
    text-align: center;
    color: $color-main;
    @media (max-width: 768px) {
        max-width: 450px;
        padding: 20px;
    }
    @media (max-width: 480px) {
        max-width: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-top: 20%;
    }
    .eventFormControl{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    h1 {
        margin-bottom: 25px;
    }
    p {
        margin-top: 15px;
    }
    input {
        border: 1px solid $color-ltgray;
        padding: 15px 8px;
        margin-bottom: 15px;
        min-width: 350px;
        @media (max-width: 480px) {
            min-width: 290px;
        }
    }
}
