
// Class which can be toggled to display/ hide html components
.hide {
    display: none;
}
// General class to emphasize text
.em {
    font-weight: bold;
}

ul {
    list-style: none;
}

button {
    padding: 10px 15px;
    min-width: 150px;
    background-color: $color-ac2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    color: whitesmoke;
    border: none;
    border-radius: 2px;
}

.SelectedItems {
    background-color: salmon;
}

//---------------------
// All Section
//---------------------
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}

.smallWrap {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}


.padding > * {
    padding: 80px 0;

}

//---------------------
// Button
//---------------------

// .btn {
//    display: inline-block;
//    border: 1px solid black;
//    padding: 10px 20px;
// }

.afterAdd {
    background: $color-ac;
    color: black;
    margin-bottom: 40px;
}

// .btn ~ .btn {
//     margin-top: 20px;
// }


//---------------------
// Header
//---------------------
header {
    min-height: 80px;
    background: $color-ac;
    color: black;
    // width: 100vw;
    padding: 0 40px;
    ~ section, ~ main {
        clear: both;
    }
    a:visited {
        color: black;
    }

    .logo {
        height: 63px;
        margin-top: 7px;
        fill: white;
        @media(max-width: 480px) {
            display: none;
        }
    }

    .header__right {
        margin-top: 20px;
        @media(max-width: 480px) {
            margin-top: 15px;
        }
        button {
            margin-right: 10px;
            @media(max-width: 480px) {
                width: 100%;
                margin-left: 0;
                margin: 0 0 15px 0;
            }
        }
    }

    button.btn {
        margin-top: 0px;
    }
    button.btn:hover {
        border:1.5px solid #2d3956;
    }

    .signOutButton {
        margin-left: 10px;
    }
}

.text__header {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}

span.text__header {
    font-weight: 700;
}

a.text__header {
    font-style: italic;
}
//---------------------
// Layouts (floats)
//---------------------
.layout__opposite {
    > * {
        display: inline;
    }
    div:first-child {
        float: left;
    }
    div:last-child {
        float: right;
        @media(max-width: 480px) {
            float: none;
        }
    }
}

.layout__beside {
    > * {
        display: inline;
    }
}

.layout__XCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.layout__XYCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.layout__half {
    > * {
        width: 50%;
    }
}

.layout__marginCenter {
    margin: 0 auto;
}


//---------------------
// Footer
//---------------------

footer {
    width: 100%;
    background: $color-main;
    color: $color-dkgray;
    // height: 50px;
    padding: 10px 0;
    clear:both;

    a {
        font-style: italic;
        color: $color-dkgray;
    }
    a:visited {
        color: $color-dkgray;
    }
    p {
        margin: 0 auto;
        font-size: 0.7rem;
    }
}