.registryItems {
    margin-bottom:20px;
    width:calc((100% - 20px)/ 2);
    float:left;
    .guestCardImage {
        border:1px solid black;
    }
    img {
        width:100%;
        display:block;
    }
    .guestCardDesc {
        margin-top:20px;
    }
    h3, h4, a {
        margin-bottom:5px;
    }
    a {
        display:block;
    }
    h3 {
        font-weight:normal;
    }
}