.registryPage {
    margin-top: 50px;
}
.searchBar {
    margin-top:20px;
    padding: 10px;
    border: 1px solid $color-ltgray;
    label {
        margin-right: 20px;
    }
}

form.categories {
    clear: both;
}

#search {
    width: 70%;
    margin-right: 10px;
}

.filter {
    padding: 20px 10px;
    width:100%;
    border:1px solid $color-ltgray;

}

button.btn__filter {
    padding: 5px 10px;
    background: $color-main;
    color: white;
    min-width: initial;
}

.nextButton {
    margin: 20px 10px 20px 0;
}

.nextBackButton {
    margin: 20px 10px;
    button:nth-of-type(2) {
        margin-left:10px;
    }
    button:nth-of-type(1) {
        margin-right:10px;
    }
}

.categories {
    padding: 20px 10px;
    width: 100%;
    margin:0 auto;
    min-height: 100px;
    background: $color-main;
    color: white;

    div {
        width:calc((100% - 50px) / 4 );
        float:left;
        margin-top:0;
        min-height: 40px;
    }

    label {
        padding-left:10px;
    }

    @media (max-width: 800px) {
        min-height: 180px;
        div {
            width:calc((100% - 50px) / 2 );
        }
    }
}

.searchGrid {
    // width: 66.66%;
    float:left;
    border: 1px solid $color-ltgray;
    padding: 20px 10px;

    h2 {
        margin-bottom:20px;
    }

    // at 800px, stack serach grid above selected Items list
    @media (max-width: $break-med) {
        width: 100%;
        float: none;
    }

}

.selectedItems {

    // min-height: 700px;
    @media (max-width: $break-med) {
        min-height: initial;
        width: 100%;
        float: none;
    }
    width: 100%;
    background: $color-ltgray;
    padding: 20px 10px;
    min-height:350px;
    
    h2 {
        margin-bottom:20px;
    }
    button {
        border:1.5px solid transparent;
        margin-bottom:10px;
        display:block;
    }
    button:hover {
        border:1.5px solid #2d3956;
    }
    h3 {
        margin-top:20px;
    }
    h3, h4, a {
        margin-bottom:10px;
        margin-left:10px;
    }
    h4 {
        color:#888;
    }
    a {
        display:block;
    }
    h3 {
        font-weight:normal;
    }
}  

.savedRegistryList {
    margin-top:20px;
    margin-right:20px;
    float:left;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    border-radius: 5px;
    width:calc((100% - 80px) / 5);
    &:nth-of-type(5n + 5) {
        margin-right:0;
    }
    a {
        margin-left:0;
        margin-top:5px;
        text-align: center;
    }
    button {
        margin:0 auto 10px;
        padding:5px 10px;
    }
    @media(max-width:1100px) {
        width:calc((100% - 60px) / 4);
        &:nth-of-type(4n + 4) {
            margin-right:0;
        }
    }
    @media(max-width:800px) {
        width:calc((100% - 40px) / 3);
        &:nth-of-type(3n + 3) {
            margin-right:0;
        }
    }
}





