//---------------------
// Typography
//---------------------
@mixin remCalc($fontSize) {
    font-size: ($fontSize / 16) * 1rem;
}

body {
    margin: 0;
    padding: 0;
    // font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, p, a, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Karla', serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.heading {
    &__form {
        @include remCalc(24);
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__page {
        @include remCalc(28);
        margin-bottom: 15px;
        
        @media (max-width:580px) {
            text-align: center;
        }
    }

    &__hero {
        font-size: 4rem;
        text-align: center;
        color: white;
        // text-transform: uppercase;
        color: $color-main;
        // text-shadow: 0 0 3px white;
        background: rgba($color-ltgray, 0.5);
        padding: 30px 40px;
        width: 80%;
        margin: 0 10px;
        @media(max-width: 960px) {
            font-size: 2.5rem;
        }
        @media(max-width: 480px) {
            font-size: 2rem;
        }
    }

    &__section {
        @include remCalc(20);
        margin-bottom: 20px;
    }

}

.label__form {
    margin-bottom: 5px;
    // color: black;
}

.graphics {
    width: initial;
}

h1 {
    // header app name
    padding-top: 18px;
    // font-size: 3.7rem; 
    // font-family: 
}

