$color-main: #2d3956;
$color-ac: #b7eae3;
// $color-ac2: rgb(255, 248, 170);
$color-ac2: #DB5461;
$color-ltgray: #efefef;
$color-dkgray: #c1c1b5;

//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;
